<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap" rel="stylesheet">
<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1 style="margin-left: 70px;">Conversando</h1>
      <h1 style="margin-left: 70px;">En El Aula</h1>
      <img class="imgLogo" src="../../assets/splashnew.png">
    </div>
    <br>
  
    <ion-button style="font-family: 'Josefin Sans', sans-serif;" size="large" class="login-button" expand="block" shape="round" (click)="onIntro()">Ingreso</ion-button>
    <br>
  </div>
</ion-content>