<link href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:100italic' rel='stylesheet' type='text/css'>

<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1 style="margin-left: 40px;">DESPERTADOR</h1>
      <h1 style="margin-left: 90px;">DE GPS</h1>
      <img class="imgLogo" src="../../assets/iconDespertador.png">
    </div>


    <ion-fab vertical="center" slot="fixed" routerLink="/login">
      <ion-fab-button style="margin-left: 140px;margin-top: 190px;width: 100px; height: 100px;" color="danger">
        Ingresar
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>