<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap" rel="stylesheet">
<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Registro</h1>
    </div>
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
      <div class="login-form ion-padding">
        <div class="form-input">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item class="inputLogin">
            <ion-label position="floating">Correo</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.email">
            <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
        </div>
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item class="inputLogin">
            <ion-label position="floating">Clave</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>

          <div *ngFor="let error of errorMessages.password">
            <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="action-buttons ion-padding">
        <ion-button style="margin-left: 65px; font-family: 'Josefin Sans', sans-serif;" [disabled]="!registrationForm.valid" type="submit"
        shape="round" size="large" class="login-button" (click)="onRegister()">Crear</ion-button>
        <ion-button style="font-family: 'Josefin Sans', sans-serif;" class="signup-button" size="large" fill="outline"
        shape="round" routerLink="/login">Ingresar</ion-button>
      </div>
    </form>
  </div>
</ion-content>