
ion-content{
  --background: rgb(58, 63, 104);
  h3{
    color: white;
  }
}

/*
img{
  position: absolute;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10%;
  left: 13%;
  max-width: 75%;
  margin-top: 50px;
  min-height: 300px;
}

#imgViejo{
  top: 50%;
}
div{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.46);
  z-index: 2;
  left: 41%;
}

label{
  color: white;
  font-size: 200%;
}

#cosasLindas{
  top: 22%;
}
#cosasFeas{
top:75%;

}
*/