<ion-content>
  <div class="container">
    <br>
    <div Class="btnImg" (click)="btnLindas()">
      <img [src]="imgLinda" scroll="true" width="auto">
    </div>
    <h3 align="center">Seleccione Album?</h3>
    <div Class="btnImg" (click)="btnFeas()">
      <img [src]="imgFea" scroll="true" width="auto">
    </div>
  </div>

</ion-content>
<!--
<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <div id="cosasLindas">
    <label>
      Lindas
    </label>
  </div>
  <div id="cosasFeas">
    <label>
      Feas
    </label>
  </div>
  <img id="imgNuevo" src="../../assets/Fotos/lindo.jpg" alt="casa nueva" (click)="btnLindas()">
  <img id="imgViejo" src="../../assets/Fotos/fea.jpg" alt="casa vieja" (click)="btnFeas()">
</ion-content>
-->