<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

<ion-fab vertical="top" horizontal="start" slot="fixed" routerLink="/login">
  <ion-fab-button color="danger">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content>
  <ion-card class="boton cosasLindas" (click)="redireccionar('cosasLindas')">
    <p class="texto">Cosas Lindas</p>
  </ion-card>
  <ion-card class="boton cosasFeas" (click)="redireccionar('cosasFeas')">
    <p class="texto">Cosas Feas</p>
  </ion-card>
</ion-content>