<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">

<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1 style="margin-left: 90px;">Alarma</h1>
      <h1 style="margin-left: 70px;">de Robo</h1>
      <img class="imgLogo" src="../../assets/icon3.png">
    </div>
    <div class="action-buttons ion-padding">
      <ion-button type="submit" size="large" class="login-button" shape="round" (click)="onIntro()">Ingresar
      </ion-button>
    </div>
  </div>
</ion-content>